[package]
name = "openssh-keys"
version = "0.1.0"
authors = ["Stephen Demos <stephen@demos.zone>"]
description = "read and write OpenSSH public keys"
documentation = "https://docs.rs/openssh-keys"
homepage = "https://github.com/sdemos/ssh-keys"
repository = "https://github.com/sdemos/ssh-keys"
readme = "README.md"
keywords = ["ssh", "ssh-keys", "keys", "rsa"]
license = "MIT OR Apache-2.0"
exclude = ["fixtures/*"]

[badges]
appveyor = { repository = "sdemos/openssh-keys" }
travis-ci = { repository = "sdemos/openssh-keys" }

[dependencies]
base64 = "0.6"
byteorder = "1.1"
error-chain = { version = "0.11", default-features = false }
rust-crypto = "0.2"
